.chats {
	background: @color-lightest;
	clip-path: none;

	&:after {
		content: none;
	}

	a {
		padding: 0 1rem;
		margin-bottom: 1rem;

		background: @color-primary;
		color: @color-lightest;
		float: right;
		text-decoration: none;

		&:hover,
		&:focus {
			background: @color-primary-lighter;
		}
	}

	ul {
		margin: 0;
	}

	li {
		.flex;
		.flex--column;
		width: 90%;
		padding: .5rem;
		margin-bottom: 1rem;

		background: @color-gray-clouds;

		p {
			margin: 0;
		}

		> p {
			padding-top: .325rem;
			font-weight: @font-weight-regular;
		}

		footer {
			font-size: @font-size-sm;
			.flex;
			.flex--row;

			position: relative;
			padding: .325rem 0;

			flex-wrap: wrap;
			justify-content: space-between;
			order: -1;

			font-weight: @font-weight-light;
			border-bottom: 1px solid @color-primary;
			vertical-align: middle;

			p:first-child {
				max-width: 55%;
			}

			p:nth-child(2) {
				max-width: 45%;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	form {
		.flex;
		.flex--row;

		box-shadow: none;

		input,
		textarea {
			width: 100%;
			height: @btn-height;
		}
	}
}

[data-receiver="false"] {
	float: right;
}

main + .chats {
	margin-bottom: 0;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;

	z-index: 2;

	@media @q-sm-min {
		top: auto;
		right: 1rem;
		left: auto;
	}

	&:target {
		display: block;
	}
}
