.rating {
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-top: 1rem;

    max-width: 40em;

    padding-top: 1rem;
    border: none;

    display: flex;
    flex-direction: row;

    legend {
        font-weight: @font-weight-bold;
        font-size: @font-size-xxl;
    }

    .custom-radio {
        @media @q-sm-min {
            display: inline-block;
            float: left;
        }
    }

    svg {
        max-width: 1.325rem;
        max-height: 1.325rem;
        position: relative;
        top: 2px;
    }

    input {
        display: inline-block;
    }
}