* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@body-background: radial-gradient(lighten(@color-gray-clouds, 3%) 10%, transparent 0), radial-gradient(lighten(@color-gray-clouds, 3%) 10%, @color-gray-clouds 0);

html {
	width: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	min-height: 100%;

	background: @color-gray-clouds;
	background: @body-background;
	background-size: 3rem 3rem;
	background-position: 0 0, 1.5rem 1.5rem;
	color: @color-gray-midnight;

	font-size: @font-size-base;
	// Source responsive font-sizes: Nick Rutten - https://github.com/nickrttn/css-to-the-rescue/blob/master/src/css/base.css
	font-family: 'Ampersand', @font-primary;

	> h1 {
		padding-left: 1rem;
	}
}

body > footer {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;

	a {
		padding: .5rem;
		color: @color-lightest;
		background: @color-primary;
		margin-right: 1rem;
		float: right;
		text-decoration: none;

		&:hover,
		&:focus {
			color: @color-lightest;
			background: @color-primary-lighter;
		}
	}
}

main :target {
	animation: flashBackground @transition-slowest forwards;
}

@keyframes flashBackground {
	0% {
		background: lighten(@color-highlight-info, 25%);
	}

	33% {
		background: @color-lightest;
	}

	67% {
		background: lighten(@color-highlight-info, 25%);
	}

	100% {
		background: @color-lightest;
	}
}

body.hashChanged {
	section:not(:target),
	article:not(:target) {
		animation: deemphasize @transition-slower forwards;
	}
}

@keyframes deemphasize {
	0% {
		filter: blur(5px);
	}

	67% {
		filter: blur(5px);
	}

	100% {
		filter: none;
	}
}
