article {
	padding: 1rem;
	margin: 0 auto 1rem;;
	max-width: 40em;

	background: @color-lightest;
	box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);

	figure {
		display: block;
		margin: 0 auto;
		width: min-content;

		img {
			margin: 0 auto;
			max-width: ~"calc(100vw - 2em)";
			max-height: calc(100vh - 32em);

			@media @q-sm-min {
				max-width: 38em;
			}
		}
	}

	footer {
		padding-top: .325rem;
		margin-top: .325rem;
		border-top: 1px solid @color-primary;
	}

	.rating {
		padding-left: 0;
		padding-right: 0;
		box-shadow: none;
	}
}