article {
	padding: 1rem;
	margin: 0 auto 1rem;;
	max-width: 40em;

	background: @color-lightest;
	box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);

	img {
		@media @q-xs-max {
			width: 100%;
		}

		@media @q-md-min {
			margin-right: 1rem;
		}
	}

	footer {
		padding-top: .325rem;
		margin-top: .325rem;
		border-top: 1px solid @color-primary;
	}
}