* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	min-height: 100%;
}

body {
	.font-primary;
	&:extend(.font-size-base);

	width: 100%;
	min-height: 100%;

	background: @color-lightest;
	color: @color-gray-midnight;
}

:target {
	animation: flashBackground @transition-slower forwards;
}

@keyframes flashBackground {
	0% {
		background: lighten(@color-highlight-info, 25%);
	}

	33% {
		background: @color-lightest;
	}

	67% {
		background: lighten(@color-highlight-info, 25%);
	}

	100% {
		background: @color-lightest;
	}
}

.flex {
	display: flex;
}

.flex--md-up {
	@media @q-md-min {
		display: flex;
	}
}

.flex--row {
	flex-direction: row;
}

.flex--row-md-up {
	flex-direction: column;

	@media @q-md-min {
		flex-direction: row;
	}
}

.flex--column {
	flex-direction: column;
}
