* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	min-height: 100%;
}

body {
	.font-primary;
	&:extend(.font-size-base);
	padding-top: 6rem;

	width: 100%;
	min-height: 100%;

	background: @color-lightest;
	color: @color-gray-midnight;

	@media @q-sm-min {
		padding-top: 4rem;
	}
}

.flex {
	display: flex;
}

.flex--md-up {
	@media @q-md-min {
		display: flex;
	}
}

.flex--row {
	flex-direction: row;
}

.flex--row-md-up {
	flex-direction: column;

	@media @q-md-min {
		flex-direction: row;
	}
}

.flex--column {
	flex-direction: column;
}
