* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	min-height: 100%;
}

body {
	&:extend(.font-size-base);
	.font-primary;

	width: 100%;
	min-height: 100%;

	background: @color-lightest;
	color: @color-gray-midnight;
}

:target {
	animation: flashBackground @transition-slower forwards;
}

@keyframes flashBackground {
	0% {
		background: lighten(@color-highlight-info, 25%);
	}

	33% {
		background: @color-lightest;
	}

	67% {
		background: lighten(@color-highlight-info, 25%);
	}

	100% {
		background: @color-lightest;
	}
}

body.hashChanged {
	section:not(:target),
	article:not(:target) {
		animation: deemphasize @transition-slower forwards;
	}
}

@keyframes deemphasize {
	0% {
		filter: blur(5px);
	}

	67% {
		filter: blur(5px);
	}

	100% {
		filter: none;
	}
}
