nav {
	&:extend(.flex);
	&:extend(.flex--row);
	padding: 0 1rem;
	width: 100%;

	justify-content: space-between;
	flex-wrap: wrap;

	background: @color-primary;
	color: @color-lightest;

	h1,
	h2 {
		margin: 0;
		display: inline-block;
		line-height: @nav-height;
	}

	> ul {
		&:extend(.flex);
		&:extend(.flex--row);
	}


	a {
		color: @color-lightest;
		text-decoration: none;
		font-weight: @font-weight-regular;

		padding: .5rem;
		line-height: @nav-height;

		&:hover {
			color: @color-gray-clouds;
		}
	}

	.list-item--has-children {
		position: relative;
		width: 6.5em;

		> a:after {
			&:extend(.font-size-xxs);
			content: ' ▼'
		}

		ul {
			.flex;
			.flex--row;

			background: @color-primary;
			text-align: left;

			a {
				line-height: 2rem;
			}

			@media @q-sm-min {
				.flex--column;
				display: none;

				position: absolute;
				top: 3rem;
				left: 0;
				right: 0;
			}

		}

		&:hover {
			ul {
				@media @q-sm-min {
					display: block;
				}
			}
		}

	}

	@media @q-sm-min {
		max-height: @nav-height;
	}
}
