form {
	.flex;
	.flex--column;
	margin: 0 auto;
	padding: .5rem 0;

	min-width: 14rem;
	max-width: 30rem;

	clear: both;

	a {
		padding: .5rem 0;
	}

}

.form--inline {
	.flex;
	.flex--row;

	input,
	textarea {
		width: 100%;
		height: @btn-height;
	}
}

.form--validate {
	padding: .5rem;
	border: 1px solid transparent;

	input {
		transition: background @transition-fast;

		&:valid {
			background: @color-highlight-success-lighter;
		}
	}

	&:valid {
		border-color: @color-highlight-success-lightest;
	}
}
